<h1 class="text-center">Gate Operator</h1>
<hr>
<div class="container">
  <form class="form" [formGroup]="placeOrderForm" (ngSubmit)='createToken (placeOrderForm.value)' >
    <div class="form-group">
      <label>commodity</label>
      <input formControlName="type_of_commodity" class="form-control" name="type_of_commodity" placeholder="Type of Commodity" type="text">
    </div>
    <div class="form-group">
    <label>total weight(in tonnes)</label>
    <input type="number" formControlName="total_weight" name="total_weight" placeholder="Total Weight" class="form-control">
  </div>
  <div class="form-group">
    <label>truck number</label>
    <input type="text" formControlName="vehicle_number" name="vehicle_number" placeholder="Vehicle" class="form-control">
  </div>
  <div class="form-group">
    <label>miller</label>
    <input type="text" name="miller" formControlName="miller" placeholder="Miller Name" class="form-control">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">create token</button>
    </div>
  </form>
  </div>
  <div *ngIf= "datacode!=null">
      <div class="form-group">
        <p>data code </p>
        <qr-code [value]='datacode' [size]="150"></qr-code>
      </div>
  </div>
