<button class='btn btn-large btn-primary' (click)='toggleScan()'>
  show/hide qr scanner
</button>

<div *ngIf='showScanner' class='container' width="300" height="200">
	<select (change)="QrScanner.onChange($event.target.value)">
      <option *ngFor="let device of QrScanner.availableDevices" [value]="device.deviceId">{{ device.label }}</option>
    </select>
	<br>
	<ngx-zxing [start]="QrScanner.cameraStarted" [device]="QrScanner.selectedDevice" (onCamsFound)="QrScanner.displayCameras($event)" (onScan)="QrScanner.handleQrCodeResult($event)" ></ngx-zxing>
	<br>
	<span>Qr Data: <strong>{{QrScanner.qrResult}}</strong></span>
</div>
<div class="container">
  <form class="form" [formGroup]="depotForm" (ngSubmit)='operatorUpdate (depotForm.value)' >
    <div class="form-group">
      <label>recorded weight:</label>
      <input formControlName="weight_recorded" class="form-control" name="weight_recorded" placeholder="Type of Commodity" type="number">
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">create token</button>
    </div>
  </form>
  </div>
  <div *ngIf= "datacode!=null">
      <div class="form-group">
        <p>data code </p>
        <qr-code [value]='datacode' [size]="150"></qr-code>
      </div>
  </div>
