<br>
<br>
<br>
<br>
<br>
<!--Panel-->
<div class="container col-md-3">
    <div class="card">
      <h4 class="card-header primary-color white-text"><b>Harry - </b> 121</h4>
      <div class="card-body">
          <!-- <h4 class="card-title">Special title treatment</h4> -->

          <div><h5><b>Type of Commodity : </b> Rice</h5></div>
          <div><h5><b>Total Weight : </b> 740kg</h5></div>

          <a class="btn btn-success waves-light" mdbRippleRadius>Accept</a>
          <a class="btn btn-danger waves-light" mdbRippleRadius>Decline  </a>
      </div>
    </div>
    </div>
    <!--/.Panel-->
