<br>
<br>
<br>
<br>

<div class="row justify-content-center">
  <div class="col-4">
    <ul class="nav nav-pills ">
      <li class="nav-item">
        <a class="nav-link" [class.active]="type == 'all'" routerLink="./" (click)="onRequestTypeChange('all')">All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="type == 'accepted'" routerLink="./" (click)="onRequestTypeChange('accepted')">Accepted</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [class.active]="type == 'rejected'" routerLink="./" (click)="onRequestTypeChange('rejected')">Rejected</a>
      </li>
    </ul>
  </div>
</div>


<br>

<div>
  <table class="table table-hover table-striped">
    <thead>
      <tr>

        <th>
          <b>Request Id</b>
        </th>
        <th>
          <b>Mode of Transport</b>
        </th>
        <th>
          <b>Status</b>
        </th>
        <th>
          <b>Set State</b>
        </th>
        <th>
          <b>Token</b>
        </th>


      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doc of docs">
        <th>{{ doc._id }}</th>
        <td>{{ doc.mode_of_transport }}</td>
        <td>
          <h5>
            <span class="badge badge-pill badge-success" *ngIf="doc.status === 'complete'">{{ doc.status }}</span>
            <span class="badge badge-pill badge-warning" *ngIf="doc.status === 'active'">{{ doc.status }}</span>
            <span class="badge badge-pill badge-primary" *ngIf="doc.status === 'accepted'">{{ doc.status }}</span>
          </h5>
          <!-- <h5 *ngIf="doc.status == 'rejected'">
            <span class="badge badge-pill badge-danger">{{ doc.status }}</span>
          </h5>
          <h5 *ngIf="doc.status == 'submitted'">
            <span class="badge badge-pill badge-primary">{{ doc.status }}</span>
          </h5> -->
        </td>
        <!-- <td id="state" >
          <div>
            <h5>
               {{ doc.state }}</h5>
          </div>
        </td> -->
        <td>

          <button class="btn btn-success waves-light" (click)="active(doc)" *ngIf="doc.status == 'accepted'" [disabled]="doc.status == 'active' || doc.status == 'complete'"
            mdbRippleRadius>Active </button>
          <button class="btn btn-success waves-light" *ngIf="doc.status == 'active'" (click)="complete(doc)" mdbRippleRadius>Complete </button>

        </td>
        <td>
          <button class="btn btn-success waves-light" routerLink="../token/{{doc._id}}" mdbRippleRadius>Generate Token</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>