.table-hover {
    // background-color: red;
    tbody {
         tr:hover {
        background-color: rgb(211, 211, 211);
    }
}
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-padding-0 {
    padding-top: 0px;
}